@import '../../common.scss';

$size: 70px;

.PointsCounter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 8px;
    height: $size;
    width: $size+10px;

    background-color: white;

    .label {
        color: $score-text;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: bold;
        letter-spacing: 1px;
    }

    .score {
        color: $dark-text;
        font-size: 38px;
        font-weight: bold;
        line-height: 1.1;
    }

}



@media only screen and (min-width: $mobile) {
    .PointsCounter {
        width: $size+20px;
    }
}