@import '../../common.scss';

$header-height: 120px;

.Header {
    width: 70%;
    border: 3px solid $header-outline;
    height: $header-height;
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    background-color: transparent;
    z-index: 2;

    .logo {
        height: 60%;
    }
}


@media only screen and (min-width: $mobile) {
    .Header {
        width: 60%;
        height: $header-height+20px;

        .logo {
            height: 70%;
        }
    }
}
