@import '../../common.scss';

.MoveSectionBasic {
    background-image: url("../../assets/images/bg-triangle.svg");
    //TODO: background bonus
    background-position: center;
    background-repeat: no-repeat;
    background-size: 65%;
}

.MoveSectionBonus {
    //TODO background
}


.MoveSectionBasic,
.MoveSectionBonus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    .rock {
        position: absolute;
        transform: translate(0, 50%);

        &.bonus {
            transform: translate(70%, 80%);
        }
    }

    .lizard {
        position: absolute;
        transform: translate(-70%, 80%);
    }

    .scissors {
        position: absolute;
        transform: translate(75%, -80%);

        &.bonus {transform: translate(0%, -100%);}
    }

    .paper {
        position: absolute;
        transform: translate(-70%, -80%);

        &.bonus {
            transform: translate(100%, -40%);
        }
    }

    .spock {
        position: absolute;
        transform: translate(-100%, -40%);
    }
}

@media only screen and (min-width: $mobile) {

    .MoveSectionBasic {
        background-size: 20%;

        .rock {
            transform: translate(0, 55%);
        }

        .scissors {
            transform: translate(70%, -70%);
        }

        .paper {
            transform: translate(-70%, -70%);
        }
    }

}