@import '../../common.scss';

.MoveSection {
    background-image: url("../../assets/images/bg-triangle.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 65%;

    &.MoveSectionBonus {
        background-image: url("../../assets/images/bg-pentagon.svg");
    }

}

.MoveSection {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    .rock {
        position: absolute;
        transform: translate(0, 70%);

        &.bonus {
            transform: translate(70%, 80%);
        }
    }

    .lizard {
        position: absolute;
        transform: translate(-70%, 80%);
    }

    .scissors {
        position: absolute;
        transform: translate(85%, -85%);

        &.bonus {
            transform: translate(0%, -100%);
        }
    }

    .paper {
        position: absolute;
        transform: translate(-85%, -85%);

        &.bonus {
            transform: translate(100%, -40%);
        }
    }

    .spock {
        position: absolute;
        transform: translate(-100%, -40%);
    }
}

//DESKTOP
@media only screen and (min-width: $mobile ) {

    .MoveSection {
        background-size: initial;
    }

}